<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Squiierrel</title>
        <link rel="stylesheet" href="/app/assets/stylesheets/style.css" />
    </head>
    <body>
        <h1>Squiierrel</h1>
        <h2>Donnez de la puissance à vos stages !</h2>
        <% if user_signed_in? %>
        <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
        <% end %>
    </body>
</html>
