<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Annonces Disponibles : </h1>
        <p>
            Ici se placera la liste des annonces disponibles
        </p>
        <p>
            <br>Cordialement,<br>L'équipe Squiierrel.
        </p>
    </body>
</html>
