<!--
A faire :
-Menu
-design

Idée de design : Marque page ruban vertical avec un écureuil simplifié blanc dedans.
Puis Affichage de liens selon les prviligèges de l'utilisateur en ligne

-TypeQuest font effects avec calendasplus font pour faire un effet "lyrique"

!-->
<h1>Squiierrel</h1>
<h2>Donnez de la puissance à vos stages</h2>
