<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Squiierrel</title>
        <link rel="stylesheet" href="/app/assets/stylesheets/style.css" />
       <link rel="stylesheet" href="/app/assets/stylesheets/app.css" />
    </head>
    <body>
       <!-- Header!-->
        <%= render "annonces/header" %>
        <!--Fin Header!-->


        <% if admin? %>
        <li class="logout">
            <%= link_to('Déconnexion', destroy_user_session_path, :method => :delete, class: "logoutlink") %>
        </li>


        <p><%= link_to 'Nouvelle annonce', new_annonce_path %></p>
        <% end %>
    </body>
</html>
