<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Squiierrel</title>
        <link rel="stylesheet" href="/app/assets/stylesheets/style.css" />
        <link rel="stylesheet" href="/app/assets/stylesheets/app.css" />
        <link rel="stylesheet" href="/app/assets/stylesheets/font-awesome.css" />
    </head>
    <body>
        <!-- Header!-->
        <%= render "annonces/header" %>
        <!--Fin Header!-->

        <!-- Affichage des annonces!-->
        <%= render "annonces/annonces" %>
        <!--Fin Affichage des annonces!-->

    </body>
</html>
